body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* HEADER */
.header {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
}

/* CARD */
.card {
  padding: 25px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

/* WARNA */
.cbt { background: #ef4444; }
.lms { background: #3b82f6; }
.spmb { background: #22c55e; }
.madrasah { background: #f59e0b; }
.logout { background: #64748b; }
